@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins), system-ui, sans-serif;
  --font-open-sans: var(--font-open-sans), system-ui, sans-serif;
  --font-yatra: var(--font-yatra), cursive;
}

@theme inline {
  --color-sky: #8ecae6;
  --color-primary: #219ebc;
  --color-dark: #023047;
  --color-accent: #d1b200;
  --color-secondary: #b3640a;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
